<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confectionery</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="conteiner">
            <span class="btn-category">
                <img src="./images/three-dots 2.svg" alt="three-dots" />
            </span>
        </div>
    </header> 

    <main>
        <div class="second-block-back">
        <section class="second-block">
            <div class="second-block__header is-pink">
                Булочки
            </div>
            <div class="container">
                <div class="category-row">
                    <a href="" class="category-item">
                        <img src="./images/caramel donut.png" alt="caramel donut" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Карамельный пончик"</span>
                            <div class="price__cart">
                               <p class="category-item__price2">950 тг</p>
                              <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/croissant.png" alt="croissant" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Миндальный круассан"</span>
                            <div class="price__cart">
                             <p class="category-item__price2">"800 тг</p>
                             <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/classic croissant.png" alt="classic croissant" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Классический круассан"</span>
                            <div class="price__cart">
                             <p class="category-item__price2">700 тг</p>
                             <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/cinnabon.png" alt="cinnabone" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Синнабон с корицей"</span>
                            <div class="price__cart">
                             <p class="category-item__price2">650 тг</p>
                             <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/rainbow donut.png" alt="rainbow donut" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Радужный пончик " </span>
                            <div class="price__cart">
                             <p class="category-item__price2">750 тг</p>
                             <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/curd.png" alt="curd" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Ватрушка"</span>
                            <div class="price__cart">
                             <p class="category-item__price2">550 тг</p>
                             <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
    </main>

</body>
</html>