<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confectionery</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <span class="btn-category">
                <img src="./images/three-dots 2.svg" alt="three-dots" />
            </span>
        </div>
    </header> 

    <main>
        <div class="second-block-back">
        <section class="second-block">
            <div class="second-block__header is-pink">
                Корзина
            </div>
            <div class="container cart-container">
                <div class="cart-item">
                    <img src="./images/red velvet cupcake.png" alt="red velvet cupcake" class="cart-item__img">
                    <div class="cart-item__details">
                        <span class="cart-item__title">Капкейк <br>"Красный бархат"</span>
                        <div class="price-and-quantity">
                            <p class="cart-item__price">1200 тг</p>
                                <div class="quantity">
                                    <button class="quantity-btn">-</button>
                                    <span id="cupcake-quantity">1</span>
                                    <button class="quantity-btn">+</button>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="cart-item">
                    <img src="./images/lavender macaroni.png" alt="lavender macaroni" class="cart-item__img">
                    <div class="cart-item__details">
                        <span class="cart-item__title">Печенье <br>"Лавандовый макарон"</span>
                        <div class="price-and-quantity">
                            <p class="cart-item__price">950 тг</p>
                            <div class="quantity">
                                <button class="quantity-btn">-</button>
                                <span id="macaron-quantity">2</span>
                                <button class="quantity-btn">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-total">
                <span class="total-price">Общая сумма:</span>
                <span class="total-price">3100 тг</span>
            </div>
            <button class="checkout-btn">Далее</button>
        </section>
        </div>
    </main>
</body>
</html>