<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confectionery</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="conteiner">
            <span class="btn-category">
                <img src="./images/three-dots 2.svg" alt="three-dots" />
            </span>
        </div>
    </header> 

    <main>
        <div class="second-block-back">
        <section class="second-block">
            <div class="second-block__header is-pink">
                Печенье
            </div>
            <div class="container">
                <div class="category-row">
                    <a href="" class="category-item">
                        <img src="./images/lemon macaroni.png" alt="lemon macaroni" class="category-item__img" />
                        <div class="category-item__body">
                            <span class="category-item__title">""Лимонный макарон"</span>
                            <div class="price__cart">
                              <p class="category-item__price2">950 тг</p>
                              <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/lavender macaroni.png" alt="lavender macaroni" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Лавандовый макарон"</span>
                            <div class="price__cart">
                             <p class="category-item__price2">"950 тг</p>
                             <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/pistachio macaroni.png" alt="pistachio macaroni" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Фисташковый макарон"</span>
                            <div class="price__cart">
                             <p class="category-item__price2">950 тг</p>
                             <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/peach macaroni.png" alt="peach macaroni" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Персиковый макарон"</span>
                            <div class="price__cart">
                             <p class="category-item__price2">950 тг</p>
                             <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/ginger cookies.png" alt="ginger cookies" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Имбирное печенье" </span>
                            <div class="price__cart">
                              <p class="category-item__price2">450 тг</p>
                              <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/cookies with chocolate.png" alt="cookies with chocolate" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Печенье с шоколадом"</span>
                            <div class="price__cart">
                             <p class="category-item__price2">700 тг</p>
                             <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </section>
    </main>

</body>
</html>