<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confectionery</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="conteiner">
            <span class="btn-category">
                <img src="./images/three-dots 2.svg" alt="three-dots" />
            </span>
        </div>
    </header> 

    <main>
        <div class="second-block-back">
        <section class="second-block">
            <div class="second-block__header is-pink">
                Капкейки
            </div>
            <div class="container">
                <div class="category-row">
                    <a href="" class="category-item">
                        <img src="./images/strawberry cupcake.png" alt="Strawberry cupcake" class="category-item__img" />
                        <div class="category-item__body">
                            <span class="category-item__title">"Клубничный капкейк""</span>
                            <div class="price__cart">
                              <p class="category-item__price2">1200 тг</p>
                              <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/chocolate cupcake.png" alt="Chocolate cupcake" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Шоколадный капкейк"</span>
                            <div class="price__cart">
                             <p class="category-item__price2">1200 тг</p>
                             <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/red velvet cupcake.png" alt="red velvet cupcake" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Красный бархат"</span>
                            <div class="price__cart">
                             <p class="category-item__price2">1200 тг</p>
                             <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/vanilla cupcake.png" alt="vanilla cupcake" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Ванильный капкейк"</span>
                            <div class="price__cart">
                              <p class="category-item__priсe2">1200 тг</p>
                              <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/pink cupcake.png" alt="pink capcake" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Розовый капкейк" </span>
                            <div class="price__cart">
                             <p class="category-item__priсe2">1200 тг</p>
                             <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                          </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/blue capcake.png" alt="blue capcake" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Голубой капкейк"</span>
                            <div class="price__cart">
                             <p class="category-item__priсe2">1200 тг</p>
                             <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </section>
    </main>

</body>
</html>