<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="conteiner">
            <span class="btn-category">
                <img src="./images/three-dots 2.svg" alt="three-dots" />
            </span>
        </div>
    </header> 

    <main>
        <div class="second-block-back">
            <section class="second-block">
                <div class="second-block__header is-pink">
                    Доставка
                </div>
                <div class="container">
                    <span class="delivery-address">Адрес доставки</span>
                    <br>
                    <span class="delivery-entrance">Подъезд</span>
                    <br>
                    <span class="delivery-apartment">Квартира</span>
                    <br>
                    <span class="delivery-comment">Комментарий к заказу</span>
                    <br>
                </div>
                <div class="cart-total">
                    <span class="total-price">Общая сумма:</span>
                    <span class="total-price">3100 тг</span>
                </div>
                <button class="checkout-btn">Оформить заказ</button>
            </section>
        </div>
    </main>
    
</body>
</html>