<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confectionery</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="conteiner">
            <span class="btn-category">
                <img src="./images/three-dots 2.svg" alt="three-dots" />
            </span>
        </div>
    </header> 

    <main>
        <div class="second-block-back">
        <section class="second-block">
            <div class="second-block__header is-pink">
                Новинки
            </div>
            <div class="container">
                <div class="category-row">
                    <a href="" class="category-item">
                        <img src="./images/cupcake.png" alt="cupcake" class="category-item__img" />
                            <span class="category-item__title">"Клубничный капкейк"</span>
                            <p class="category-item__price1">1200 тг</p>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/croissant.png" alt="croissant" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Миндальный круассан"</span>
                          <p class="category-item__price1">800 тг</p>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/carrot cake.png" alt="carrot cake" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Морковный торт"</span>
                          <p class="category-item__price1">1200 тг</p>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/cinnabon.png" alt="cinnabone" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Синнабон с корицей"</span>
                          <p class="category-item__price1">650 тг</p>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/donut.png" alt="donut" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Радужный пончик" </span>
                          <p class="category-item__price1">750 тг</p>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/chocolate brownie.png" alt="chocolate brownie" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Шоколадный брауни"</span>
                          <p class="category-item__price1">950 тг</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </section>
    </main>

</body>
</html>