<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
            <div class="conteiner">
                <span class="btn-category">
                    <img src="./images/three-dots 2.svg" alt="three-dots" />
                </span>
            </div>
    </header> 
    
    <main>
        <div class="second-block-back">
            <section class="second-block">
                <div class="second-block__header is-pink">
                   Вход
                </div>
                <div class="container">
                    <span class="delivery-address">Имя пользователя*</span>
                    <br>
                    <span class="delivery-entrance">Пароль*</span>
                </div>
                <button class="btn-link">Вход</button>
                <div id="signuplink" class="spanlink">
                    <span>Если у Вас нет аккаунта, перейдите по <a href="#" class="linkif">ссылке</a></span>
                </div>
            </section>
        </div>
    </main>
        
</body>
</html>