<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confectionery</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="page-friend">

        <header class="header">
            <div class="conteiner">
                <span class="btn-category">
                    <img src="./images/three-dots 2.svg" alt="three-dots" />
                </span>
            </div>
        </header>   

        <main>
            <section class="second-block">
                <div class="second-block-back">
                    <div class="second-block__header_ is-pink">
                        Меню
                    </div>

                    <div class="container">
                        <div class="category-row">
                            <div class="category-item">
                                <div class="container-item">
                                    <img src="./images/cake-stroke panel.svg" alt="" class="category-item__img"/>
                                    <span class="category-item__title">пироги</span>
                                </div>
                            </div>
                            <div class="category-item">
                                <div class="container-item">
                                    <img src="./images/cupcake-stroke panel.svg" alt="" class="category-item__img" />
                                    <span class="category-item__title">капкейки</span>
                                </div>
                            </div>
                            <div class="category-item">
                                <div class="container-item">
                                    <img src="./images/buns-stroke panel.svg" alt="" class="category-item__img" />
                                    <span class="category-item__title">булочки</span>
                                </div>
                            </div>
                            <div class="category-item">
                                <div class="container-item">
                                    <img src="./images/cookies-stroke panel.svg" alt="" class="category-item__img" />
                                    <span class="category-item__title">печенье</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>            
        </main>

    </div> 
</body>
</html>