<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confectionery</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <span class="btn-category">
                <img src="./images/three-dots 2.svg" alt="three-dots" />
            </span>
        </div>
    </header> 

    <main>
        <div class="second-block-back">
        <section class="second-block">
            <div class="second-block__header is-pink">
                Пироги
            </div>
            <div class="container">
                <div class="category-row">
                    <a href="" class="category-item">
                        <img src="./images/carrot cake.png" alt="carrot cake" class="category-item__img" />
                        <div class="category-item__body">
                            <span class="category-item__title">"Морковный торт"</span>
                            <div class="price__cart">
                                <p class="category-item__price2">1200 тг</p>
                                <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/chocolate brownie.png" alt="chocolate brownie" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Шоколадный брауни"</span>
                            <div class="price__cart">
                                <p class="category-item__price2">950 тг</p>
                                <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/red velvet.png" alt="red velvet" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Красный бархат"</span>
                            <div class="price__cart">
                                <p class="category-item__price2">1200 тг</p>
                                <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/tiramisu.png" alt="tiramisu" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Тирамису"</span>
                            <div class="price__cart">
                                <p class="category-item__price2">900 тг</p>
                              <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/cheesecake.png" alt="cheesecake" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Чизкейк" </span>
                            <div class="price__cart">
                              <p class="category-item__price2">750 тг</p>
                              <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                    <a href="" class="category-item">
                        <img src="./images/lemon pie.png" alt="lemon pie" class="category-item__img" />
                        <div class="category-item__body">
                          <span class="category-item__title">"Лимонный пирог"</span>
                            <div class="price__cart">
                              <p class="category-item__price2">700 тг</p>
                              <img src="./images/cart-icon.png" alt="cart-icon" class="category-item__cart" />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </section>
    </main>

</body>
</html>