{% extends 'base.html' %}
{% load static %}
{% block title %}Доставка{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<section class="second-block">
    <div class="second-block__header is-pink">
        Доставка
    </div>
    <div class="container">
        <div class="delivery">
            <form id="delivery-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="cart-total">
                    <span class="total-price">Общая сумма:</span>
                    <span class="total-price" id="total-sum">{{ total_sum }} &#8376;</span>
                </div>
                <button type="submit" class="checkout-btn">Оформить заказ</button>
            </form>
        </div>
    </div>
</section>
{% else %}
<section class="access">
    <div class="access-container">
        <h1 class="auth-title">Вы не авторизировались</h1>
        <p class="reminder-to-auth">Чтобы сделать заказ, Вам необходимо авторизовать либо зарегистрироваться</p>
        <div class="access-action">
            <a href="{% url 'sign_up_page' %}" class="button-auth">Регистрация</a>
            <a href="{% url 'login_page' %}" class="button-auth">Вход</a>
        </div>
    </div>
</section>

<script src="{% static './js/script.js' %}"></script>

{% endif %}
{% endblock %}