{% extends 'base.html' %}
{% load static %}
{% block title %}Корзина{% endblock %}


{% block content %}
<section class="second-block">
    <div class="second-block__header is-pink">
        Корзина
    </div>
    <div class="container cart-container">
        {% for item in cart_items %}    
        <div class="cart-item" data-product-id="{{ item.product.id }}">
            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="cart-item__img">
            <div class="cart-item__details">
                <span class="cart-item__title">{{ item.product.category }} <br>{{ item.product.title }}</span>
                <div class="price-and-quantity">
                    <p class="cart-item__price">{{ item.product.price }} &#8376; </p>
                    <div class="quantity">
                        <button class="quantity-btn decrease-btn">-</button>
                        <span class="quantity-value">{{ item.quantity }}</span>
                        <button class="quantity-btn increase-btn">+</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        
        <div class="cart-total">
            <span class="total-price">Общая сумма:</span>
            <span class="total-price" id="total-sum">{{total_sum}}&#8376;</span>
        </div>
        <a href="{% url 'delivery' %}">
            <button class="checkout-btn">Далее</button>
        </a>
    </div>
</section>


<script src="{% static './js/cart.js' %}"></script>
{% endblock %}